<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>815773267389-l1jt3u4fufjo7ga191ud9m3s339lklh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815773267389-l1jt3u4fufjo7ga191ud9m3s339lklh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCfdFsn3j1OS60lGSY_vFkueCTyMAMt_C4</string>
	<key>GCM_SENDER_ID</key>
	<string>815773267389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veselinminchev.BG-Chat</string>
	<key>PROJECT_ID</key>
	<string>bgchat-ac0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>bgchat-ac0ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815773267389:ios:6d548765a608cc53</string>
	<key>DATABASE_URL</key>
	<string>https://bgchat-ac0ca.firebaseio.com</string>
</dict>
</plist>